/* .MuiFormControl-root {
    margin-left: 15px !important;
} */

.inner-div-margin-left .MuiFormControl-root {
    margin-left: 15px !important;
}

.button-send {
    float: right;
    margin-top: 15px !important;
}

.select-normalize {
    min-width: 182px !important;
}

.btn-cad {
    padding-top: 20px !important;
}